In [1]:
from bs4 import BeautifulSoup
import requests
import lxml
import urllib
import time
from urllib.request import urlopen
import re
import math
import csv
import os,os.path

In [2]:
from selenium.webdriver.common.keys import Keys
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

In [3]:
def url_encoding(url):
    url = urllib.parse.urlsplit(url)
    url = list(url)
    url[2] = urllib.parse.quote(url[2])
    url = urllib.parse.urlunsplit(url)
    return url

In [4]:
def convert(val):
    lookup = {'k': 1000, 'm': 1000000, 'b': 1000000000}
    unit = val[-1]
    number = float(val[:-1])
    if unit in lookup:
        return lookup[unit] * number
    return int(val)

In [5]:
def save2csv(row):
    #out_l = [['host','uptime','nfsserver','nfs status']] 
    #with open('test.csv', 'wb') as out_f:           # Python 2
    with open(filename, 'a', newline='',encoding="utf-8") as out_f: # Python 3
        w = csv.writer(out_f, delimiter='\t')        # override for tab delimiter
        w.writerows(row)

In [6]:
def login(email,password):
    #PhantomJS_loc = r"C:\Users\Kriti chaudhary\Desktop\phantomjs.exe"
    #driver = webdriver.PhantomJS(executable_path=PhantomJS_loc)
    url = "https://www.quora.com/"
    driver.get(url)
    elem = WebDriverWait(driver, 10).until(
    EC.presence_of_element_located((By.CSS_SELECTOR, ".regular_login [name=email]"))
)
    elem.send_keys(email)

    elem = WebDriverWait(driver, 10).until(
    EC.presence_of_element_located((By.CSS_SELECTOR, ".regular_login [name=password]"))
)

    elem.send_keys(password)
    elem.send_keys(Keys.ENTER)

In [7]:
def stats(username):
    get_url = 'https://www.quora.com/profile/'+str(username)
    get_url = url_encoding(get_url)
    url = urlopen(get_url)
    content = url.read()
    soup = BeautifulSoup(content,"lxml")
    ul = soup.find('ul')
    all_div = ul.find_all('div')
    answers = all_div[0].find('span',attrs={'class':"list_count"})
    try:
        answers = int(answers.text.replace(',', ''))
    except:
        answers = 0
    #print(answers.text)

    questions = all_div[2].find('span',attrs={'class':"list_count"})
    try:
        questions = int(questions.text.replace(',', ''))
    except:
        questions = 0
    #print(questions.text)

    posts = all_div[5].find('span',attrs={'class':"list_count"})
    try:
        posts = int(posts.text.replace(',', ''))
    except:
        posts = 0
    #print(posts.text)

    blogs = all_div[7].find('span',attrs={'class':"list_count"})
    try:
        blogs = int(blogs.text.replace(',', ''))
    except:
        blogs = 0
    #print(blogs.text)

    followers = all_div[9].find('span',attrs={'class':"list_count"})
    try:
        followers = int(followers.text.replace(',', ''))
    except:
        followers = 0
    #print(followers.text)

    following = all_div[11].find('span',attrs={'class':"list_count"})
    try:
        following = int(following.text.replace(',', ''))
    except:
        following = 0
    #print(following.text)

    topics = all_div[13].find('span',attrs={'class':"list_count"})
    try:
        topics = int(topics.text.replace(',', ''))
    except:
        topics = 0
    #print(topics.text)
    
    #print(answers, questions, posts, blogs, followers, following, topics)
    return [answers, questions, posts, blogs, followers, following, topics]

In [8]:
def get_topics(username):
    #---------------------- TOPICS ---------------------------------- #
    get_url = 'https://www.quora.com/profile/'+str(username)+'/topics'
    get_url = url_encoding(get_url)
    url = urlopen(get_url)
    content = url.read()
    soup = BeautifulSoup(content,"lxml")
    t = soup.findAll('a', 'topic_name')
    topics=[]
    for topic in t:
        topics.append(topic.text)
    if len(topics)>=10 :
        topics = topics[:10]
    #print(topics)
    return topics

In [9]:
def get_profile_detail(username):
    get_url = 'https://www.quora.com/profile/'+str(username)
    get_url = url_encoding(get_url)
    url = urlopen(get_url)
    content = url.read()
    time.sleep(2)
    soup = BeautifulSoup(content,"lxml")
    
    profile_name=None
    profile_cred=None
    work=None
    school=None
    answer=None
    location=None
    language=None
    top_writer=None
    published_writer=None

    #---------------------- PROFILE CREDENTIAL ---------------------------------- #
    pro = soup.find('div',attrs={'class':"ProfileNameAndSig"})
    profile_name = pro.find('span',attrs={'class':"user"}).text
    profile_cred = pro.find('span',attrs={'class':"UserCredential"})

    if (profile_cred):
        profile_cred = profile_cred.text
    #print(profile_name)
    #print(profile_cred)
    
    contents = soup.find('div',attrs={'class':"contents"})

    #---------------------- WORK CREDENTIAL ---------------------------------- #

    #work_credential = contents.select('div[class*="WorkCredentialListItem"]')[0]
    regex = re.compile('.*WorkCredentialListItem.*')
    try:
        work_credential = contents.find('div',attrs={'class':regex})
    except:
        work_credential = None
        
    #print()
    
    if (work_credential):    
        work_profile = work_credential.find('span',attrs={'class':'UserCredential'})
        if (work_profile):
            work = work_profile.text

        work_detail = work_credential.find('span',attrs={'class':'detail_text'})
        if (work_detail):
            work = work + ' ,' + work_detail.text

        #print(work)


    #---------------------- SCHOOL CREDENTIAL ---------------------------------- #

    regex = re.compile('.*SchoolCredentialListItem.*')
    try:
        school_credential = contents.find('div',attrs={'class':regex})
    except:
        school_credential = None
        
    #print()
    
    if (school_credential):
        school_profile = school_credential.find('span',attrs={'class':'UserCredential'})
        if (school_profile):
            school = school_profile.text

        school_detail = school_credential.find('span',attrs={'class':'detail_text'})
        if (school_detail):
            school = school + ' ,' + school_detail.text

        #print(school)
            
    
    #---------------------- LOCATION CREDENTIAL ---------------------------------- #

    regex = re.compile('.*LocationCredentialListItem.*')
    try:
        location_credential = contents.find('div',attrs={'class':regex})
    except:
        location_credential = None
    #print()
    if (location_credential): 
        location_profile = location_credential.find('span',attrs={'class':'UserCredential'})
        if (location_profile):
            location = location_profile.text

        location_detail = location_credential.find('span',attrs={'class':'detail_text'})

        #print(location)
       

    #---------------------- LANGUAGE CREDENTIAL ---------------------------------- #

    regex = re.compile('.*LanguageCredentialListItem.*')
    try:
        language_credential = contents.find('div',attrs={'class':regex})
    except:
        language_credential = None
        
    #print()
    
    if (language_credential): 
        language_profile = language_credential.find('span',attrs={'class':'UserCredential'})
        if (language_profile):
            language = language_profile.text

        language_detail = language_credential.find('span',attrs={'class':'detail_text'})
        if (language_detail):
            language = language + ' ,' + language_detail.text

        #print(language)
    
    
    #---------------------- ANSWER CREDENTIAL ---------------------------------- #

    regex = re.compile('.*AnswerViewsAboutListItem.*')
    try:
        answer_credential = contents.find('div',attrs={'class':regex})
    except:
        answer_credential = None

    #print()
    
    if (answer_credential): 
        answer_profile = answer_credential.find('span',attrs={'class':'main_text'})
        if (answer_profile):
            answer = answer_profile.text

        answer_detail = answer_credential.find('span',attrs={'class':'detail_text'})
        if (answer_detail):
            answer = answer + ' ,' + answer_detail.text

        #print(answer)
    
    
    #---------------------- TOP WRITER CREDENTIAL ---------------------------------- #

    regex = re.compile('.*TopWriterAboutListItem.*')
    try:
        top_writer_credential = contents.find('div',attrs={'class':regex})
    except:
        top_writer_credential = None
    
    #print()
    
    if (top_writer_credential):    
        top_writer_profile = top_writer_credential.find('span',attrs={'class':'main_text'})
        if (top_writer_profile):
            top_writer = top_writer_profile.text

        top_writer_detail = top_writer_credential.find('span',attrs={'class':'detail_text'})
        if (top_writer_detail):
            #top_writer = top_writer + ' ,' + top_writer_detail.text
            top_writer = top_writer_detail.text
            
            found = re.search("more", top_writer)
            if found:
                index = found.start() 
                top_writer = top_writer[index+4:]
            
    #print(top_writer)


    #---------------------- PUBLISHED WRITER CREDENTIAL ---------------------------------- #

    regex = re.compile('.*PublishedWriterAboutListItem.*')
    try:
        published_writer_credential = contents.find('div',attrs={'class':regex})
    except:
        published_writer_credential = None
    
    #print()
    
    if (published_writer_credential):   
        published_writer_profile = published_writer_credential.find('span',attrs={'class':'main_text'})
        #if (published_writer_profile):
        #    published_writer = published_writer_profile.text

        published_writer_detail = published_writer_credential.find('span',attrs={'class':'detail_text'})
        if (published_writer_detail):
            #published_writer = published_writer + ' ,' + published_writer_detail.text
            published_writer = published_writer_detail.text
            
            found = re.search("more", published_writer)
            if found:
                index = found.start() 
                published_writer = published_writer[index+4:]
            
    #print(published_writer)  
    #print(profile_name, profile_cred, work, school, answer, location, language, top_writer, published_writer)
    return [profile_name, profile_cred, work, school, answer, location, language, top_writer, published_writer]

In [10]:
def get_maxupvotes(username):
    get_url = 'https://www.quora.com/profile/'+str(username)+'/answers?sort=views'
    get_url = url_encoding(get_url)
    driver.get(get_url)
    soup = BeautifulSoup(driver.page_source,"lxml")
    answers = soup.find('div',attrs={'class':'list_header'})
    total_answers = 0
    if len(answers.text)>7:
        answers = answers.text.split(' ')[0]
        if len(str(answers))>=3:
            answers = answers.replace(',', '')
        #print(answers)
        total_answers = int(answers)

    if (60<total_answers<100):
        total_answers = total_answers * 0.6
    if (100<=total_answers):
        total_answers = 100
    max_upvotes = 0
    
        
    #print("total no. of answers: ", total_answers)
    if(total_answers>0):
        ans_list = soup.find_all('div',attrs={'class':'pagedlist_item'})
        while(len(ans_list)<total_answers):
            driver.execute_script("window.scrollTo(0,   document.body.scrollHeight);")
            soup = BeautifulSoup(driver.page_source,"lxml")
            ans_list = soup.find_all('div',attrs={'class':'pagedlist_item'})
            time.sleep(2)
        soup = BeautifulSoup(driver.page_source,"lxml")
        #print(soup)
        u = []
        #u = soup.find_all('span',attrs={'class':'ui_button_count_optimistic_count'})
        u = soup.find_all('div',attrs={'class':'action_bar_inner u-flex'})
        ans = []
        for k in range(0,len(u),2):  
            y = u[k].find('span',attrs={'class':'ui_button_label'})
            ans.append(y.text)
        ans = ans[1:]
        if(len(ans)==1):
            max_upvotes = int(convert('0'+ans[0].split(' ')[0]))   
        if (len(ans)>1):
            max_upvotes = max([int(convert('0'+(i.split(' ')[0]))) for i in ans])   
    #print("max upvotes:",max_upvotes)
    return max_upvotes

In [30]:
#if __name__ == '__main__':
import time
def main():
    global driver
    global filename
    global email
    global pwd
    global username
    login(email,pwd)
    time.sleep(10)
    get_url = 'https://www.quora.com/profile/' + str(username) + '/followers'
    driver.get(get_url)
    soup = BeautifulSoup(driver.page_source,"lxml")
    time.sleep(3)

    followers = soup.find('div',attrs={'class':'list_header'})
    followers = followers.text.split(' ')[0]

    total_followers = int(followers.replace(',', ''))
    #print("total no. of followers: ", total_followers)
    tf = soup.findAll('a', 'user')
    while(len(tf)<total_followers):
        driver.execute_script("window.scrollTo(0,   document.body.scrollHeight);")
        soup = BeautifulSoup(driver.page_source,"lxml")
        tf = soup.findAll('a', 'user')
        time.sleep(2)
    tf = tf[-total_followers:]

    file_exist = os.path.exists(filename)
    if (file_exist):
        os.remove(filename)
    
        
    columns = [['Username','Profile_Credential','Work_at','Education','Answer_viewed','Location','Language',\
                   'Top_writer','Published_writer','Answers','Questions','Posts','Blogs',\
                   'Followers','Following','Topics','Max_Upvotes','Knows_about']]
    save2csv(columns)

    user_name = username
    #print(user_name)
    pro_detail = get_profile_detail(user_name)
    statistics = stats(user_name)
    max_up = get_maxupvotes(user_name)
    topics = get_topics(user_name)
        
    pro_detail.extend(statistics)
    pro_detail.extend([max_up])
    pro_detail.append(topics)
        
    #print(pro_detail)
    save2csv([pro_detail])

    for user in tf:
        follower_name = str(user['href']).split("/profile/")[1]
        #print(follower_name)
        pro_detail = get_profile_detail(follower_name)
        statistics = stats(follower_name)
        max_up = get_maxupvotes(follower_name)
        topics = get_topics(follower_name)
        
        pro_detail.extend(statistics)
        pro_detail.extend([max_up])
        pro_detail.append(topics)
        
        #print(pro_detail)
        save2csv([pro_detail])
        
        time.sleep(1)

In [37]:
if __name__ == '__main__': 
    
    chromedriver_loc = r"C:\Users\Kriti chaudhary\Desktop\chromedriver_win32\chromedriver.exe" #enter chromedriver path
    PhantomJS_loc = r"C:\Users\Kriti chaudhary\Desktop\phantomjs.exe"
    
    #driver = webdriver.PhantomJS(executable_path=PhantomJS_loc)
    driver = webdriver.Chrome(executable_path=chromedriver_loc)
    
    filename = 'My_QData.csv' # Where to store data
    
    # ------------------ login credential ----------------
    email =  # enter email
    pwd =  #  enter password
    # ----------------------------------------------------
    
    username = 'Aditya-Lunawat' # enter username
    
    main()

IncompleteRead: IncompleteRead(94804 bytes read)

In [45]:
import pandas as pd
df = (pd.read_csv('My_QData.csv',sep='\t'))
print(df.columns)
df

Index(['Username', 'Profile_Credential', 'Work_at', 'Education',
       'Answer_viewed', 'Location', 'Language', 'Top_writer',
       'Published_writer', 'Answers', 'Questions', 'Posts', 'Blogs',
       'Followers', 'Following', 'Topics', 'Max_Upvotes', 'Knows_about'],
      dtype='object')

,Username,Profile_Credential,Work_at,Education,Answer_viewed,Location,Language,Top_writer,Published_writer,Answers,Questions,Posts,Blogs,Followers,Following,Topics,Max_Upvotes,Knows_about
0,Aditya Lunawat,NaN,NaN,Studied at International Institute of Informat...,NaN,"Lives in Hyderabad, India",NaN,NaN,NaN,0,0,0,0,192,224,86,0,"['Startups', 'Computer Programming', 'Sports',..."
1,Anoop Vyas,NaN,NaN,NaN,NaN,"Lives in Hyderabad, India",Knows Middle English,NaN,NaN,0,0,0,0,0,60,36,0,"['Facebook (product)', 'Visiting and Travel', ..."
2,Aakash Gore,Senior Sales Officer,Senior Sales Officer at HDB Financial Service...,Studied Master of Technology in Computer Scien...,NaN,"Lived in Indore, Madhya Pradesh, India",NaN,NaN,NaN,5,0,0,0,3,172,365,1,"['Mathematics', 'Indore, Madhya Pradesh, India..."
3,Ishita Joshi,NaN,NaN,NaN,NaN,"Lives in Pune, Maharashtra, India",NaN,NaN,NaN,0,0,0,0,2,74,39,0,"['Science', 'Machine Learning', 'Miley Cyrus (..."
4,Khushboo Sen,NaN,NaN,NaN,NaN,"Lives in Indore, Madhya Pradesh, India",NaN,NaN,NaN,0,0,0,0,22,560,12,0,"['Association Football', 'Romantica (band)', '..."
5,Bhavika Joshi,NaN,NaN,NaN,NaN,"Lives in Bengaluru, Karnataka, India",NaN,NaN,NaN,0,1,0,0,10,144,37,0,"['Music', 'Visiting and Travel', 'Movies', 'Sc..."
6,Kanika Rathore,Travel enthusiast. Learner.,"Works at Infosys Limited ,2014-present",Studied at Medi-Caps Institute of Science and ...,"325.6k answer views ,579 this month",NaN,Knows Hindi,NaN,NaN,15,0,0,1,868,226,264,11100,"['Important Life Lessons', 'Visiting and Trave..."
7,Saroj Lunawat,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,3,24,17,0,"['Sports', 'Business', 'Cooking', 'Science', '..."
8,Rajat Sharma,NaN,NaN,NaN,NaN,"Lives in Pune, Maharashtra, India",NaN,NaN,NaN,1,0,0,0,14,133,69,1,"['Investing', 'Finance', 'Investment Strategie..."
9,Akanksha Pendharkar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,4,75,16,0,"['Facebook (product)', 'Jonas Brothers', 'Frie..."
10,Shaijal Jain,NaN,NaN,Studied at Medi-Caps Institute of Science and ...,NaN,"Lives in Pune, Maharashtra, India",NaN,NaN,NaN,0,0,0,0,12,97,25,0,"['Technology', 'Sachin Tendulkar (cricketer)',..."
11,Palak Shrivastav,NaN,"Student ,2009-present",Studied at Medi-Caps Institute of Technology a...,NaN,"Lives in Mumbai, Maharashtra, India",Knows Hindi,NaN,NaN,0,0,0,0,16,237,348,0,"['Web Design', 'Hedge Funds', 'Sports', 'Music..."
12,Richa Vasnani,NaN,NaN,"Studied at Vikram University, Ujjain",NaN,"Lives in Ujjain, Madhya Pradesh, India",NaN,NaN,NaN,0,0,0,0,13,81,40,0,"['Medicine and Healthcare', 'Cooking', 'Baking..."
13,Aditya Yadav,NaN,NaN,Studied at Takshshila Junior College Ujjain,NaN,"Lives in Ujjain, Madhya Pradesh, India",NaN,NaN,NaN,0,0,0,0,28,157,25,0,"['Spotify (product)', 'Zac Efron (actor)', 'Ki..."
14,Abhishek Verma,NaN,NaN,Studied at Medi-Caps Institute of Science and ...,NaN,"Lives in Indore, Madhya Pradesh, India",NaN,NaN,NaN,0,0,0,0,16,106,65,0,"['Entertainment', 'History', 'Mathematics', 'B..."
15,Akanksha Dham,NaN,Works at Zydus Cadila,"Studied at Mahakal Institute of Technology, Uj...",NaN,"Lives in Ahmedabad, Gujarat, India",NaN,NaN,NaN,0,0,0,0,13,102,28,0,"['Books', 'Fiction', 'Novels', 'Twilight (crea..."
16,Shaily Arora,NaN,Senior Software Engineer at Accenture,Studied at Mukesh Patel School of Technology M...,NaN,"Lives in Mumbai, Maharashtra, India",NaN,NaN,NaN,0,0,0,0,22,195,25,0,"['Mumbai, Maharashtra, India', 'Airbnb (produc..."
17,Prabhakar Sunkireddy,NaN,"Project Director at JDA Software ,2012-present",Studied at Chaitanya Bharathi Institute of Tec...,NaN,"Lives in Hyderabad, India",NaN,NaN,NaN,0,0,0,0,12,106,10,0,"['Arsenal F.C.', 'Hyderabad, India', 'FC Barce..."
18,Simran Chandel,NaN,NaN,"Studied at Carmel School, Gorakhpur",NaN,"Lives in Pune, Maharashtra, India",NaN,NaN,NaN,0,0,0,0,11,128,35,0,"['Music', 'Movies', 'Education', 'Food', 'Rest..."
19,Rishika Modi,NaN,Works at SAP Labs India,Studied at International Institute of Informat...,NaN,NaN,NaN,NaN,NaN,1,0,0,0,125,137,47,3,"['Bhagavad Gita', 'Google (company)', 'Food', ..."
20,Varsha Bordia,NaN,Consultant,Studied at NPA,NaN,"Lives in Mumbai, Maharashtra, India",NaN,NaN,NaN,0,0,0,0,14,104,22,0,"['Facebook (product)', 'Mumbai, Maharashtra, I..."
21,Mohit Jhangiani,NaN,Works at Kotak Mahindra Bank,Studied 2011 at St. Mary's Convent Senior Seco...,NaN,"Lives in Chennai, Tamil Nadu, India",NaN,NaN,NaN,0,0,0,0,10,216,20,0,"['Lionel Messi (football player)', 'Indian Eth..."
22,Subhash Patel,NaN,"Works at Zeal Computer ,2006-present","Studied at Devi Ahilya Vishwavidyalaya, Indore...",NaN,"Lives in Indore, Madhya Pradesh, India",Knows Hindi,NaN,NaN,0,0,0,0,54,598,26,0,"['Entertainment', 'Technology', 'Hindi (langua..."
23,Durva Gupta,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,94,111,365,0,"['Sports', 'Design', 'Blogs', 'Investing', 'Hi..."
24,Kishan Vadalia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,0,0,0,0,0,0,93,[]
25,Karan Chandnani,NaN,"Research Engineer at Microsoft ,2017-present",M.Tech from International Institute of Informa...,NaN,"Lives in Hyderabad, India",NaN,NaN,NaN,0,0,0,0,59,304,22,0,"['Google (company)', 'Ruby (programming langua..."
26,Tanmay Jain,NaN,Former President at NJIT Graduate Student Asso...,Studied Data Science & Computer Science at New...,NaN,"Lives in Harrison, NJ",NaN,NaN,NaN,0,0,0,0,24,260,124,0,"['Startups', 'Computer Programming', 'Web Desi..."
27,Pradeep Singh,NaN,Freelancer at Disc Jockeying and DJing,Studied at Institute of Engineering and Scienc...,NaN,"Lives in Indore, Madhya Pradesh, India",NaN,NaN,NaN,0,0,0,0,77,287,39,0,"['Sports', 'Music', 'Visiting and Travel', 'He..."
28,Atreya Vyas,NaN,NaN,Studied Civil Engineering,NaN,"Lives in Mumbai, Maharashtra, India",NaN,NaN,NaN,0,0,0,0,95,330,25,0,"['Mumbai, Maharashtra, India', ""McDonald's (fa..."
29,Avadh Sharda,IIM Lucknow (2018-20) | SRCC (2013-16),Former Senior Associate at Samsung Research In...,PGP from Indian Institute of Management Luckno...,"5.2k answer views ,297 this month","Lives in Bengaluru, Karnataka, India",NaN,NaN,NaN,12,0,0,0,113,546,27,4,"['Indian Institutes of Management', 'Shri Ram ..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138,Shwetha G,NaN,"Works at Microsoft ,2016-present",Studied at Sri Jayachamarajendra College of En...,"17.6k answer views ,246 this month","Lives in Hyderabad, India",NaN,NaN,NaN,22,3,0,1,159,149,197,247,"['Life and Living', 'Philosophy of Everyday Li..."
139,Deepak Upreti,NaN,Works at Students,Studied at International Institute of Informat...,NaN,"Lives in Hyderabad, India",NaN,NaN,NaN,0,1,0,0,127,118,62,0,"['Computer Programming', 'Software Engineering..."
140,Priyanka Bajaj,NaN,NaN,Studied at International Institute of Informat...,NaN,"Lives in Hyderabad, India",NaN,NaN,NaN,0,0,0,0,74,103,86,0,"['Python (programming language)', 'Facebook (p..."
141,ER Parag Nuwal,NaN,Works at Tata Consultancy Services,Studied at MITM Indore,NaN,"Lives in Indore, Madhya Pradesh, India",NaN,NaN,NaN,0,0,0,0,94,148,58,0,"['Entertainment', 'Breaking News', 'Sachin Ten..."
142,Pragya Musal,NaN,"Works at Global Institute of Technology,2009-2...",Studied at Global Institute of Technology,NaN,"Lives in Hyderabad, India",NaN,NaN,NaN,0,0,0,0,38,59,93,0,"['Python (programming language)', 'Programming..."
143,Mehak Agarwal,NaN,NaN,Studied at International Institute of Informat...,"10k answer views ,56 this month",Lives in International Institute of Informatio...,NaN,NaN,NaN,16,0,1,1,186,184,144,31,"['Life and Living', 'Education', 'Literature',..."
144,Anupam Shrivastava,NaN,"Consultant at Liferay ,2015-present",Studied at Lakshmi Narain College of Technolog...,NaN,"Lives in Indore, Madhya Pradesh, India",NaN,NaN,NaN,0,4,0,1,36,83,278,0,"['Facebook (product)', 'Programming Languages'..."
145,Rahul Jhamnani,NaN,Works at Rashtriya Chemicals & Fertilizers,Studied at Medi-Caps Institute of Technology a...,NaN,"Lives in Ujjain, Madhya Pradesh, India",NaN,NaN,NaN,0,0,0,0,227,358,34,0,"['Seinfeld (TV series)', 'Harry Potter (creati..."
146,Pragya Mehta,NaN,Works at Bhabha Atomic Research Centre,Studied at Malaviya National Institute of Tech...,NaN,"Lives in Mumbai, Maharashtra, India",NaN,NaN,NaN,0,0,0,0,77,197,98,0,"['Computer Programming', 'Web Design', 'Sports..."
147,Anirudh Keshri,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,0,0,14,101,11,0,"['Sports', 'Business', 'Design', 'History', 'E..."
148,Namita Shelke,NaN,NaN,Studied at International Institute of Informat...,NaN,"Lives in Mumbai, Maharashtra, India",NaN,NaN,NaN,0,0,0,0,35,50,38,0,"['Programming Languages', 'Computer Programmin..."
149,Garvit Hasija,NaN,NaN,Studied at Medi-Caps Institute of Technology a...,"2.9k answer views ,14 this month","Lives in Indore, Madhya Pradesh, India",NaN,NaN,NaN,1,0,0,0,123,129,59,10,"['Business', 'Computer Science', 'Barack Obama..."
150,Aaditya Bagrola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,0,0,0,0,0,0,2,[]
151,Radhika Kulkarni,NaN,NaN,Studied at Medi-Caps Institute of Technology a...,NaN,"Lives in Indore, Madhya Pradesh, India",Knows Hindi,NaN,NaN,1,1,0,0,84,93,227,0,"['Programming Languages', 'Java (programming l..."
152,Suhas K S Bhatt,NaN,"Software Engineer at Indeed ,2016-present",M.Tech from International Institute of Informa...,"21.2k answer views ,326 this month","Lives in Hyderabad, India",NaN,NaN,NaN,14,1,0,0,262,280,148,21,"['Bengaluru, Karnataka, India', 'Computer Prog..."
153,Tushan Jain,NaN,Works at Mentor Graphics,Studied at International Institute of Informat...,"26.8k answer views ,1 this month","Lives in Hyderabad, India",NaN,NaN,NaN,4,1,0,1,138,96,274,838,"['Mobile Phones', 'Smartphones', 'Learning New..."
154,Roshani Vyas,NaN,NaN,NaN,NaN,"Lives in Indore, Madhya Pradesh, India",NaN,NaN,NaN,0,1,0,0,77,38,43,0,"['Katy Perry (musician)', 'Beyoncé (musician)'..."
155,Pankaj Shipte,NaN,Works at Quinnox,"Studied at SRES College of Engineering, Kopargaon",NaN,"Lives in Hyderabad, India",NaN,NaN,NaN,0,0,0,1,93,175,100,0,"['Computer Programming', 'Sports', 'Music', 'S..."
156,Lamha Agarwal,NaN,"Developer at Mentor Graphics ,2016-present","M.Tech Computer Science, International Institu...","29.2k answer views ,571 this month","Lives in Alwar, Rajasthan, India",NaN,NaN,NaN,11,0,0,0,198,195,96,23,['Graduate Aptitude Test in Engineering (GATE)...
157,Raminder Narang,NaN,Works at Students,Studied at Berozgar,NaN,"Lives in Ujjain, Madhya Pradesh, India",NaN,NaN,NaN,0,0,0,0,110,94,43,0,"['Computer Programming', 'Sports', 'Software E..."
158,Ankur Shrivastava,NaN,Works at Works Applications,Studied at International Institute of Informat...,NaN,"Lives in Bhopal, Madhya Pradesh, India",NaN,NaN,NaN,0,2,0,0,280,338,126,0,"['Facebook (product)', 'Computer Programming',..."
159,Saurabh Kanaujia,NaN,Software Development Engineer at AOL,Studied at International Institute of Informat...,NaN,"Lives in Hyderabad, India",NaN,NaN,NaN,0,0,0,1,200,264,174,0,"['Facebook (product)', 'Sports', 'Music', 'Ent..."
160,Mohammad Salman Khan,NaN,Works at Practo,Studied at Aligarh Muslim University,NaN,"Lives in Aligarh, Uttar Pradesh, India",NaN,NaN,NaN,0,0,2,1,166,232,134,0,"['Cricket (sport)', 'India', 'Unix', 'Algorith..."
161,Jashojit Mukherjee,NaN,"System Software Engineer at NVIDIA ,2016-present","MTech Computer Science Engineering, Internatio...","1.7k answer views ,61 this month","Lives in Bengaluru, Karnataka, India",NaN,NaN,NaN,5,1,0,0,425,438,147,6,"['Machine Learning', 'Movies', 'Computer Scien..."
162,Abbas Bootwala,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,0,0,54,43,77,0,"['Startups', 'Google (company)', 'Hedge Funds'..."
163,Kapil Chhajer,NaN,NaN,Studied at International Institute of Informat...,"2.8k answer views ,24 this month",NaN,NaN,NaN,NaN,1,0,0,0,124,95,19,2,"['Web Development', 'AngularJS', 'Python (prog..."
164,AmisHa AgraWal,NaN,Works at Students,Studied at St. Mary's Convent Senior Secondary...,NaN,"Lives in Ujjain, Madhya Pradesh, India",NaN,NaN,NaN,0,0,0,0,36,18,33,0,"['Entertainment', 'Science', ""McDonald's (fast..."
165,Lawyer Management,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,3,24,0,"['Startups', 'Google (company)', 'Music', 'Sof..."
166,Jigna Shah,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,0,0,278,228,98,0,"['Technology', 'Facebook (product)', 'Google (..."
167,Shubhank Thakur,NaN,NaN,"Studied at Bhilai Institute of Technology, Raipur",NaN,Lives in New Delhi,NaN,NaN,NaN,0,0,0,0,30,76,178,0,"['Cars and Automobiles', 'Katy Perry (musician..."

In [43]:
df.loc[df['Max_Upvotes'].idxmax()]

Username                                                 Kanika Rathore
Profile_Credential                          Travel enthusiast. Learner.
Work_at                          Works at Infosys Limited ,2014-present
Education             Studied at Medi-Caps Institute of Science and ...
Answer_viewed                       325.6k answer views ,579 this month
Location                                                            NaN
Language                                                    Knows Hindi
Top_writer                                                          NaN
Published_writer                                                    NaN
Answers                                                              15
Questions                                                             0
Posts                                                                 0
Blogs                                                                 1
Followers                                                           868
Following                                                           226
Topics                                                              264
Max_Upvotes                                                       11100
Knows_about           ['Important Life Lessons', 'Visiting and Trave...
Name: 6, dtype: object

In [44]:
df.loc[df['Followers'].idxmax()]

Username                                                Krishna Chavali
Profile_Credential                      web, mobile and application dev
Work_at                                                             NaN
Education                      Studied at Vasavi College of Engineering
Answer_viewed                        23.9k answer views ,373 this month
Location                                      Lives in Hyderabad, India
Language                                                            NaN
Top_writer                                                          NaN
Published_writer                                                    NaN
Answers                                                              35
Questions                                                             7
Posts                                                                 0
Blogs                                                                 0
Followers                                                          2273
Following                                                         11708
Topics                                                               42
Max_Upvotes                                                          13
Knows_about           ['India', 'HTML', 'JavaScript (programming lan...
Name: 97, dtype: object